* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

#personajes {
  display: flex;
}

div {
  margin: 1rem;
}
